.login-container {
    width: 150%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}
.login-section {
    flex: 1;
    width: 200px;
    height: 1000px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login-text {
    top: 230px;
    left: 0px;
    color: #1e6091;
    position: absolute;
    font-size: 3em;
    font-family: Open Sans;
}
.login-form {
    top: 150px;
    left: 0px;
    width: 549px;
    height: 572px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
}
.login-img {
    flex: 1;
    width: 200px;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.image_logo {
    top: 100px;
    left: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: cover;
}
.image_side {
    width: 85%;
    height: 100%;
    align-self: center;
    object-fit: cover;
}
.input_email {
    top: 150px;
    left: 0px;
    width: 350PX;
    height: 60px;
    position: absolute;
}
.input_password {
    top: 220px;
    left: 0px;
    width: 350px;
    height: 60px;
    position: absolute;
}
.button_login {
    top: 300px;
    left: 0px;
    color: var(--dl-color-gray-white);
    width: 350px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    background-color: #277cbb;
}
.button_google {
    top: 380px;
    left: 0px;
    color: var(--dl-color-gray-white);
    width: 350px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    background-color: rgb(39, 124, 187);
}
.button_signup {
    top: 500px;
    left: 0px;
    color: var(--dl-color-gray-white);
    width: 175px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    background-color: rgb(39, 124, 187);
}
