.register-container {
    width: 150%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}
.register-section {
    flex: 1;
    left: 20px;
    width: 200px;
    height: 980px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.register-text {
    top: 230px;
    left: 0px;
    color: #1e6091;
    position: absolute;
    font-size: 3em;
    font-family: Open Sans;
}
.register-form {
    top: 150px;
    left: 0px;
    width: 549px;
    height: 572px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
}
.register-img {
    flex: 1;
    width: 200px;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.image_logo {
    top: 100px;
    left: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: cover;
}
.image_side {
    width: 85%;
    height: 100%;
    align-self: center;
    object-fit: cover;
}
#input_name {
    top: 150px;
    width: 350PX;
    height: 60px;
    position: absolute;
}
#input_email {
    top: 230px;
    width: 350PX;
    height: 60px;
    position: absolute;
}
#input_password {
    top: 320px;
    width: 350px;
    height: 60px;
    position: absolute;
}
#input_password_confirm {
    top: 400px;
    width: 350px;
    height: 60px;
    position: absolute;
}
#button_signup {
    top: 480px;
    color: var(--dl-color-gray-white);
    width: 350px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    background-color: #277cbb;
}
#button_google {
    top: 540px;
    color: var(--dl-color-gray-white);
    width: 350px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    background-color: rgb(39, 124, 187);
}
#button_login2 {
    top: 640px;
    color: var(--dl-color-gray-white);
    width: 175px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    background-color: rgb(39, 124, 187);
}
